.main-mid{
    background: rgba(250, 249, 249, 0.206);
    backdrop-filter: blur(8px);
}
.mid{
    background-image: url('https://i.pinimg.com/564x/f9/bc/68/f9bc68a92ebea89c7edcac34dc432b56.jpg');
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: 150%;


}
.brand{
    background: rgba(12, 12, 12, 0.256);
    backdrop-filter: blur(8px);
}